<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Melkamu Gishu</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">Melkamu Gishu</a>
            
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>  <a href="/experience">Experience</a>
                <a href="/publications">Publications</a>
                <a href="/projects">Projects</a>
                <a href="/contact" class="nav-btn">Contact</a>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        {% if page.url != "/" %}
        <header class="page-header">
            <h1>{{ page.title }}</h1>
        </header>
        {% endif %}
        
        <main>
            {{ content }}
        </main>
    </div>

    <footer>
        <p>&copy; 2025 Melkamu Gishu.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/melkamugishu/" target="_blank">LinkedIn</a> |
            <a href="https://x.com/melkyed" target="_blank">X (Twitter)</a> |
            <a href="https://github.com/melkyed" target="_blank">GitHub</a>
        </div>
    </footer>

</body>
</html>